<!-- <!DOCTYPE html> -->
<html lang="en">
    <%- include("../../components/head.ejs"); %>
<body>
    <%- include("../../components/header.ejs"); %>

    <main>
        <div>
<!-- Dados pessoais -->
            <form action="/form" method="POST">
                <fieldset class="personalInfo">
                    <legend>Dados pessoais </legend>

                    <div class="content">
                        <!-- <div class="form-group"> -->
                        <label for="nome">Nome: </label>
                        <input class="longerInput" name="nome" type="text" id="nome"/>
                        <!-- </div>
                        <div class="form-group"> -->
                        <label for="pronomes">Pronomes: </label>
                        <input name="pronomes" type="text" id="pronomes" />
                        <!-- </div> -->
                        <!-- <div class="form-group"> -->
                        <label for="dataDeNascimento">Data de nascimento: </label>
                        <input name="dataDeNascimento" type="date" id="dataDeNascimento"/>
                        <!-- </div> -->
                    </div>
                    <div class="content">
                        <label for="endereco">Endereço: </label>
                        <input class="longerInput" name="endereco" type="text" id="endereco"/>

                        <label for="cep">CEP: </label>
                        <input name="cep" type="text" id="cep" />
                    </div>
                    <div class="content">
                        <label for="bairro">Bairro: </label>
                        <input class="longerInput" name="bairro" type="text" id="bairro" />

                        <label for="cidade">Cidade: </label>
                        <input class="longerInput" name="cidade" type="text" id="cidade"/>

                        <label for="estado">Estado: </label>
                        <select name="estado" id="estado" required>
                            <option value="0"> -- selecione -- </option>
                            <% estados.map((item) => { %>
                            <option value="<%= item.id %>"><%= item.descricao %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="content">
                        <label for="email">Email: </label>
                        <input class="longerInput" name="email" type="email" id="email" />

                        <label for="telefone">Telefone: </label>
                        <input name="telefone" type="phone" id="telefone"/>

                        <label for="profissao">Profissão: </label>
                        <input name="profissao" type="text" id="profissao"/>
                    </div>
                </fieldset>
        </div>
<!-- Histórico de Saúde -->
        <div>
                <fieldset>
                    <legend>Histórico de saúde </legend>
                    <div>
                        <div class="linha">
                            <span class="left">Gravidez: </span>
                            <div class="middle">
                            <% gravidez.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="gravidez" value="<%= item.id %>"/>
                            <label for="<%= item.id %>" ><%= item.descricao %></label>
                            <% }) %>
                            </div>
                        </div>

                        <div class="linha">
                            <span class="left">Amamentacão: </span>
                            <div class="middle">
                            <% amamentacao.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="amamentacao" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                            </div>
                        </div>
                        <div class="linha">
                            <span class="left">Alergias: </span>
                            <div class="middle">
                            <% alergias.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="alergias" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                            </div>
                            <div class="right">
                            <label for="quaisAlergias">Quais: </label>
                            <input type="text" name="quaisAlergias" id="quaisAlergias" />
                            </div>
                        </div>
                        <div class="linha">
                            <span class="left" name="doencasInfantis">Doenças infantis: </span>
                            <div class="middle">
                            <% doencasInfantis.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="doencasInfantis" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                            </div>
                            <label for="quaisDoençasInfantis">Quais: </label>
                            <input type="text" name="quaisDoencasInfantis id="quaisDoencasInfantis" />
                        </div>
                        <div class="linha">
                            <span class="left">Cirurgias recentes: </span>
                            <div class="middle">
                            <% cirurgiasRecentes.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="cirurgiasRecentes" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                            </div>
                            <label for="quaisCirurgiasRecentes">Quais: </label>
                            <input type="text" name="quaisCirurgiasRecentes" id="quaisCirurgiasRecentes" />
                        </div>
                    </div>
                    <br>
                    <h3>Patologias</h3>

                    <div class="linha">
                        
                        <div class="patologias1">
                            <% patologias1.map((item) => { %>
                            <input type="checkbox" name="patologias1" id="<%= item.id %>" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label><br>
                            <% }) %>
                                  
                        </div>

                        <div class="patologias2">
                            <% patologias2.map((item) => { %>
                            <input type="checkbox" name="patologias2" id="<%= item.id %>" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label><br>
                            <% }) %>
                        </div>

                        <div class="patologias3">
                            <% patologias3.map((item) => { %>
                            <input type="checkbox" name="patologias3" id="<%= item.id %>" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label><br>

                            <% }) %>
                        </div>
                    </div>
                    <br>
                        <div class="content">
                            <label  for="informacoesAdicionais1">Insira informações adicionais que 
                            julgar necessárias: </label>
                            <input class="longerInput" type="text" name="informacoesAdicionais1" id="informacoesAdicionais1" />
                        </div>
                        <!-- <label for=""></label>
                        <input type="checkbox" id="" /> -->
                    
                </fieldset>
        </div>

<!-- Hábitos -->
        <div>
                <fieldset>
                    <legend>Hábitos diários </legend>
                    <div class="linha" class="content">
                        <span class="left">Fumo: </span>
                        <div class="middle">
                        <% fumo.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="fumo" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        </div>
                        <label for="frequenciaFumo">Frequência: </label>
                        <input class="longerInput" type="text" name="frequenciaFumo" id="frequenciaFumo" />
                    </div>
                    <div class="linha" class="content">
                        <span class="left">Álcool: </span>
                        <div class="middle">
                        <% alcool.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="alcool" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        </div>
                        <label for="frequenciaAlcool">Frequência: </label>
                        <input class="longerInput" type="text" name="frequenciaAlcool" id="frequenciaAlcool" />
                    </div>
                    <div class="linha" class="content">
                        <span class="left">Medicamentos: </span>
                        <div class="middle">
                        <% medicamentos.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="medicamentos" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        </div>
                        <label for="quaisMedicamentos">Quais: </label>
                        <input class="longerInput" type="text" name="quaisMedicamentos" id="quaisMedicamentos" />
                    </div>
                    <div class="linha" class="content">
                        <span class="left">Cosméticos na área a ser tratada: </span>
                        <div class="middle">
                        <% cosmeticos.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="cosmeticos" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        </div>
                        <label for="quaisCosmeticos">Quais: </label>
                        <input class="longerInput" type="text" name="quaisCosmeticos" id="quaisCosmeticos" />
                    </div>
                    <div class="linha" class="content">
                        <span class="left">Exposição solar: </span>
                        <div class="middle">
                        <% exposicaoSolar.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="exposicaoSolar" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        </div>
                        <label for="frequenciaExposicaoSolar">Frequência: </label>
                        <input class="longerInput" type="text" name="frequenciaExposicaoSolar" id="frequenciaExposicaoSolar" />
                    </div>
                    <div class="linha" class="content">
                        <span class="left">Atividade Física: </span>
                        <div class="middle">
                        <% atividadeFisica.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="atividadeFisica" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        </div>
                        <label for="frequenciaAtividadeFisica">Quais: </label>
                        <input class="longerInput" type="text" name="frequenciaAtividadeFisica" id="frequenciaAtividadeFisica" />
                    </div>
                    <br>
                    <div class="content">
                        <label for="informacoesAdicionais2">Insira informações adicionais que 
                        julgar necessárias: </label>
                        <input class="longerInput" type="text" name="informacoesAdicionais2" id="informacoesAdicionais2" />
                    </div>
                </fieldset>
        </div>

<!-- Declaração de veracidade -->
        <div>
                <fieldset>
                    <legend>Declaração de veracidade </legend>
                    <input type="checkbox" id="declaracaoDeVeracidade" name="declaracaoDeVeracidade" />
                    <label for="declaracaoDeVeracidade">Declaro que as informações acima são verdadeiras 
                    e tenho ciência de que qualquer omissão pode prejudicar meu tratamento.</label>
                </fieldset>
            <div>
            <br>
                <button>Enviar</button>
            </div>    
            <br>
            
        </div>
        </form>
    </main>

    <%- include("../../components/footer.ejs"); %>
</body>
</html>