nome: <%= nome %> 
pronomes: <%= pronomes %>
dataDeNascimento: <%= dataDeNascimento %>
endereco: <%= endereco %>
cep: <%= cep %>
bairro: <%= bairro %>
cidade: <%= cidade %>
estado: <%= estado %>
email: <%= email %>
telefone: <%= telefone %>
profissao: <%= profissao %>
gravidez: <%= gravidez %>
amamentacao: <%= amamentacao %>
alergias: <%= alergias %>
quaisAlergias: <%= quaisAlergias %>
doencasInfantis: <%= doencasInfantis %>
quaisDoencasInfantis: <%= quaisDoencasInfantis %>
cirurgiasRecentes: <%= cirurgiasRecentes %>
quaisCirurgiasRecentes: <%= quaisCirurgiasRecentes %>

    <% if (!patologias1) {  %>
        patologias1:
    <% } %>
    
    <% patologias1.forEach((patologia1) => { %>
        <p><%= patologia1 %></p>
    <% }) %>

    <% if (!patologias2) {  %>                    
        patologias2: 
    <% } %>
    <% patologias2.forEach((patologia2) => { %>
        <p><%= patologia2 %></p>
    <% }) %>
                    
    <% if (!patologias3) {  %>
    patologias3:
    <% } %>
    
    <% patologias3.forEach((patologia3) => { %>
        <p><%= patologia3 %></p>
    <% }) %>
informacoesAdicionais1: <%= informacoesAdicionais1 %>
fumo: <%= fumo %>
frequenciaFumo: <%= frequenciaFumo %>
alcool: <%= alcool %>
frequenciaAlcool: <%= frequenciaAlcool %>
medicamentos: <%= medicamentos %>
quaisMedicamentos: <%= quaisMedicamentos %>
cosmeticos: <%= cosmeticos %>
quaisCosmeticos: <%= quaisCosmeticos %>
exposicaoSolar: <%= exposicaoSolar %>
frequenciaExposicaoSolar: <%= frequenciaExposicaoSolar %>
atividadeFisica: <%= atividadeFisica %>
frequenciaAtividadeFisica: <%= frequenciaAtividadeFisica %>
informacoesAdicionais2: <%= informacoesAdicionais2 %>