<!-- <!DOCTYPE html> -->
<html lang="en">
    <%- include("../../components/head.ejs"); %>
<body>
    <%- include("../../components/header.ejs"); %>

    <main>
        <div>
<!-- Dados pessoais -->
            <form>
                <fieldset>
                    <legend>Dados pessoais </legend>

                    <div>
                        <label name="nome">Nome: </label>
                        <input type="text" />

                        <label name="pronomes">Pronomes: </label>
                        <input type="text" />
                        
                        <label name="dataDeNascimento">Data de nascimento: </label>
                        <input type="date" />
                    </div>
                    <div>
                        <label name="endereco">Endereço: </label>
                        <input type="text" />

                        <label name="cep">CEP: </label>
                        <input type="number" />
                    </div>
                    <div>
                        <label name="bairro">Bairro: </label>
                        <input type="text" />

                        <label name="cidade">Cidade: </label>
                        <input type="text" />

                        <label name="estado">Estado: </label>
                        <select required>
                            <option value="0"> -- selecione -- </option>
                            <% estados.map((item) => { %>
                            <option value="<%= item.id %>"><%= item.value %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label name="email">Email: </label>
                        <input type="email" />

                        <label name="telefone">Telefone: </label>
                        <input type="phone" />

                        <label name="profissao">Profissão: </label>
                        <input type="text" />
                    </div>
                </fieldset>
            </form>
        </div>
<!-- Histórico de Saúde -->
        <div>
            <form>
                <fieldset>
                    <legend>Histórico de saúde </legend>
                    <div>
                        <div>
                            <span>Gravidez: </span>

                            <% gravidez.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="gravidez" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                        </div>

                        <div>
                            <span>Amamentacão: </span>

                            <% amamentacao.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="amamentacao" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                        </div>
                        <div>
                            <span>Alergias: </span>

                            <% alergias.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="alergias" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                            <label for="quaisAlergias">Quais: </label>
                            <input type="text" name="quaisAlergias" id="quaisAlergias" />
                            
                        </div>
                        <div>
                            <span name="doencasInfantis">Doenças infantis: </span>

                            <% doencasInfantis.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="doencasInfantis" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                            <label for="quaisDoençasInfantis">Quais: </label>
                            <input type="text" name="quaisDoencasInfantis id="quaisDoencasInfantis" />
                        </div>
                        <div>
                            <span>Cirurgias recentes: </span>

                            <% cirurgiasRecentes.map((item) => { %>
                            <input type="radio" id="<%= item.id %>" name="cirurgiasRecentes" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label>
                            <% }) %>
                            <label for="quaisCirurgiasRecentes">Quais: </label>
                            <input type="text" name="quaisCirurgiasRecentes" id="quaisCirurgiasRecentes" />
                        </div>
                    </div>
                    
                    <h3>Patologias</h3>

                    <div class="linha">
                        
                        <div class="patologias1">
                            <% patologias1.map((item) => { %>
                            <input type="checkbox" name="patologias1" id="<%= item.id %>" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label><br>
                            <% }) %>
                                  
                        </div>

                        <div class="patologias2">
                            <% patologias2.map((item) => { %>
                            <input type="checkbox" name="patologias2" id="<%= item.id %>" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label><br>
                            <% }) %>
                        </div>

                        <div class="patologias3">
                            <% patologias3.map((item) => { %>
                            <input type="checkbox" name="patologias3" id="<%= item.id %>" value="<%= item.id %>"/>
                            <label for="<%= item.id %>"><%= item.descricao %></label><br>

                            <% }) %>
                        </div>

                        <!-- <label for=""></label>
                        <input type="checkbox" id="" /> -->
                    </div>
                </fieldset>
            </form>
        </div>

<!-- Hábitos -->
        <div>
            <form>
                <fieldset>
                    <legend>Hábitos diários </legend>
                    <div>
                        <span>Fumo: </span>

                        <% fumo.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="fumo" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        <label for="frequenciaFumo">Frequência: </label>
                        <input type="text" name="frequenciaFumo" id="frequenciaFumo" />
                    </div>
                    <div>
                        <span>Álcool: </span>

                        <% alcool.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="alcool" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        <label for="frequenciaAlcool">Frequência: </label>
                        <input type="text" name="frequenciaAlcool" id="frequenciaAlcool" />
                    </div>
                    <div>
                        <span>Medicamentos: </span>

                        <% medicamentos.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="medicamentos" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        <label for="quaisMedicamentos">Quais: </label>
                        <input type="text" name="quaisMedicamentos" id="quaisMedicamentos" />
                    </div>
                    <div>
                        <span>Cosméticos na área a ser tratada: </span>

                        <% cosmeticos.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="cosmeticos" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        <label for="quaisCosmeticos">Quais: </label>
                        <input type="text" name="quaisCosmeticos" id="quaisCosmeticos" />
                    </div>
                    <div>
                        <span>Exposição solar: </span>

                        <% exposicaoSolar.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="exposicaoSolar" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        <label for="frequenciaExposicaoSolar">Frequência: </label>
                        <input type="text" name="frequenciaExposicaoSolar" id="frequenciaExposicaoSolar" />
                    </div>
                    <div>
                        <span>Atividade Física: </span>

                        <% atividadeFisica.map((item) => { %>
                        <input type="radio" id="<%= item.id %>" name="atividadeFisica" value="<%= item.id %>"/>
                        <label for="<%= item.id %>"><%= item.descricao %></label>
                        <% }) %>
                        <label for="frequenciaAtividadeFisica">Quais: </label>
                        <input type="text" name="frequenciaAtividadeFisica" id="frequenciaAtividadeFisica" />
                    </div>
                </fieldset>
            </form>
        </div>

<!-- Declaração de veracidade -->
        <div>
            <form>
                <fieldset>
                    <legend>Declaração de veracidade </legend>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet praesentium sequi
                    quidem optio animi quasi officiis mollitia nemo et odit ipsam doloremque suscipit
                    in natus esse saepe dignissimos neque nulla, delectus similique, enim distinctio. 
                    Earum non dicta aspernatur facere consectetur accusantium ab officia impedit error 
                    veritatis! Rem ullam odio, quia nobis quod officia tenetur, iure quo labore amet, 
                    hic quas adipisci pariatur! Harum quae pariatur eos possimus sunt. Ipsam voluptatum 
                    ab incidunt cumque consectetur delectus, sed aliquam molestias minima, architecto 
                    laudantium nulla voluptate repellat libero, officia odit quasi rerum nemo minus 
                    explicabo necessitatibus deserunt in quia? Tenetur iure provident, quia consequatur 
                    commodi adipisci magnam atque minus vitae. Perspiciatis nostrum libero totam corporis, 
                    dolor quas, porro deleniti laboriosam obcaecati laborum earum.</p>
                </fieldset>
            </form>
        </div>
        <div>
            <input type="submit" value="Enviar" />
        </div>
    </main>

    <%- include("../../components/footer.ejs"); %>
</body>
</html>